/*!
 * Стартовый шаблон для HTML-верстки
 * Версия: 1.1
 * Автор: Алексей Морозов
 * Сайт: https://itcity.by
 * Группа VK: https://vk.com/itcity.minsk
 * Instagram: https://instagram.com/itcityby
 *
 * Copyright Alexey Morozov 2018.
 */

*::-webkit-input-placeholder        {color: #666666;	opacity: 1;}
*:-moz-placeholder                  {color: #666666;	opacity: 1;}
*::-moz-placeholder                 {color: #666666; opacity: 1;}
*:-ms-input-placeholder             {color: #666666; opacity: 1;}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body{
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	line-height: 1;
}

a{
	-webkit-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.static{position: static;}

.null{padding-left: 0; padding-right: 0;}
.null-left{padding-left: 0;}
.null-right{padding-right: 0;}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.popup{display: none;}
.popup .popup-title{
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	padding: 10px 15px;
}


/* Селекторы для стилизации форм */
.form{}
.form .form-title{}
.form input[type="text"], .form textarea{}
.form textarea{}
.form input[type="text"]:focus, .form textarea:focus{}
.form input[type="submit"], .form input[type="reset"]{}
.form input[type="submit"]:hover, .form input[type="reset"]:hover{}
.form label{}
.form label.error{}

/* Селекторы для стилизации контента */
.content{padding-bottom: 30px;}
.content h1, .content h2, .content h3{
	line-height: 1.2;
	color: #3e454c;
	padding: 10px 0;
}
.content h1{font-size: 36px;}
.content h2{font-size: 26px; padding: 20px 0 10px;}
.content h3{font-size: 20px; padding: 0 0 10px;}
.content p{
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #3e454c;
	padding: 8px 0;
}
.content strong{
	font-family: "RobotoBold", sans-serif;
}
.content em{}
.content a{}
.content a:hover{}
.content img{margin: 15px 0;}
.content table{width: 100%; margin-bottom: 30px;}
.content table tr th, .content table tr td{
	font-size: 16px;
	line-height: 1.2;
	color: #3e454c;
	padding: 10px;
	border-bottom: 1px solid #dddddd;
}
.content table tr th{
	font-family: "RobotoBold", sans-serif;
	font-size: 18px;
	background: #99ff99;
	border-bottom: none;
}
.timetable{padding-bottom: 30px;}
.timetable table{
	width: 100%;
	border: 1px solid #3e454c;
}
.timetable table tr th{
	
}
.timetable table tr:nth-child(even) td{background: #42c342; color: #fff}
.content ul, .content ol{padding-left: 30px;}
.content ul li, .content ol li{
	font-family: "RobotoLight", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #3e454c;
	background: url(../images/dot.png) center left no-repeat;
	padding: 5px 20px;
}

header{
	background: #ffffff;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}

.logo{
	display: block;
	padding: 15px 0;
}
.logo img{
	height: 50px;
	display: inline-block;
	vertical-align: top;
}
.logo span{
	font-family: "RobotoMedium", sans-serif;
	font-size: 26px;
	color: #009400;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}
.logo span i{
	font-family: "RobotoMedium", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #1b1e21;
	font-style: normal;
	display: block;

}

.menu{padding: 11px 0;}
.menu > ul{text-align: right;}
.menu > ul > li{
	display: inline-block;
	position: relative;
	margin-left: 30px;
	padding: 20px 0;
}
.menu > ul > li > a{
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #3e454c;
	text-transform: uppercase;
	position: relative;
}
.menu > ul > li > a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: -4px;
	background: #42c342;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.menu > ul > li:hover > a:before, .menu > ul > li > a:focus:before, .menu > ul > li > a:active:before, .menu > ul > li.active > a:before {
	right: 0;
}
.menu > ul > li.active > a, .menu > ul > li:hover > a{}
.menu > ul > li > ul{
	display: none;
	background: #3e454c;
	position: absolute;
	top: 55px;
	left: 0;
	z-index: 10;
	padding: 10px 0 20px;
	text-align: left;
	width: 200%;
}
.menu > ul > li > ul:before{
	content: "";
	display: block;
	border: 10px solid transparent;
	border-bottom: 10px solid #3e454c;
	position: absolute;
	top: -19px;
	left: 20px;
	z-index: 10;
	margin-left: -10px;
}
.menu > ul > li > ul > li > a{
	display: block;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 1.4;
	color: #ffffff;
	text-transform: uppercase;
}
.menu > ul > li > ul > li:hover > a, .menu > ul > li > ul > li.active > a{
	background: #42c342;
}

.slider{
	position: relative;
	margin-top: 80px;
}
.slider .item{
	height: 500px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.slider .item.item-1{
	background: url(../images/slide-1.jpg) center bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.slider .item.item-2{
	background: url(../images/slide-2.jpg) center bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.slider .item.item-3{
	background: url(../images/slide-3.jpg) center bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.slider .item .title{
	display: inline-block;
	font-size: 54px;
	line-height: 1.2;
	color: #ffffff;
	background: rgba(0, 0, 0, .5);
	padding: 10px 30px;
}
.slider .item .more{
	display: inline-block;
	background: #3e454c;
	padding: 17px 30px 17px 80px;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 50px;
	position: relative;
}
.slider .item .more:before{
	background: #42c342;
	color: #ffffff;
	content: "\f054";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}
.slider .item .more:hover{
	background: #127912;
}
.slider .owl-dots{
	text-align: center;
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
}
.slider .owl-dots .owl-dot{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	margin: 0 5px;
	outline: none;
}
.slider .owl-dots .owl-dot.active{background: #42c342;}
.slider .owl-nav button.owl-prev:before{
	content: "\f053";
}
.slider .owl-nav button.owl-next:before{
	content: "\f054";
}
.slider .owl-nav button.owl-next:before, .slider .owl-nav button.owl-prev:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.slider .owl-nav button.owl-next span, .slider .owl-nav button.owl-prev span {
	display: none;
}
.slider .owl-nav button.owl-next, .slider .owl-nav button.owl-prev{
	font-size: 40px;
	color: #ffffff;
	position: absolute;
	top: 50%;
	z-index: 10;
	margin-top: -20px;
	background: none;
	outline: none;
	border: none;
	opacity: 0;
	-webkit-transition: all ease-in .2s;
	-moz-transition: all ease-in .2s;
	-ms-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}
.slider:hover .owl-nav button.owl-next, .slider:hover .owl-nav button.owl-prev{opacity: 1;}
.slider .owl-nav button.owl-prev{left: 20px;}
.slider .owl-nav button.owl-next{right: 20px;}
.slider .owl-nav button.owl-next:hover, .slider .owl-nav button.owl-prev:hover{color: #42c342;}

.section-title{
	font-family: "RobotoLight", sans-serif;
	font-size: 36px;
	line-height: 1.2;
	color: #42c342;
	text-align: center;
	text-transform: uppercase;
	padding: 60px 0 30px;
}
.section-title span{
	display: block;
	color: #3e454c;
}

.timetable{padding-bottom: 30px;}
.timetable table{
	width: 100%;
	border: 1px solid #3e454c;
}
.timetable table tr th{
	font-size: 16px;
	line-height: 1.2;
	color: #ffffff;
	text-align: center;
	background: #3e454c;
	padding: 10px;
	border: 1px solid #ffffff;
}
.timetable table tr td{
	font-size: 16px;
	line-height: 1.2;
	color: #3e454c;
	padding: 10px;
	border: 1px solid #ffffff;
}
.timetable table tr:nth-child(even) td{background: #42c342; color: #fff}

.timetable .pdf{
	display: inline-block;
	background: url(../images/pdf.png) left center no-repeat;
	font-size: 18px;
	line-height: 1.2;
	color: #3e454c;
	text-transform: uppercase;
	padding: 10px 0 10px 40px;
	margin: 30px 0;
}
.timetable .pdf:hover{color: #42c342;}

footer{
	background: #3e454c;
	color: #ffffff;
	padding: 40px 0;
}
footer .title{
	font-size: 20px;
	line-height: 1.2;
	color: #ffffff;
	text-transform: uppercase;
	padding-bottom: 20px;
}
footer .phone p{
	font-size: 16px;
	line-height: 1.2;
	color: #ffffff;
	margin-bottom: 20px;
}
footer .phone p span{
	display: block;
	font-size: 12px;
	color: #42c342;
}
footer .map{
	background: #ffffff;
	width: 100%;
	height: 300px;
}
footer .adres{
	font-size: 14px;
	line-height: 1.4;
	color: #ffffff;
	margin-bottom: 20px;
}
footer .adres a{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}
footer .adres a:hover{
	color: #42c342;
	border-bottom: 1px solid transparent;
}

.form input[type="text"], .form textarea{
	font-family: "RobotoRegular", sans-serif;
	display: block;
	width: 100%;
	height: 35px;
	border: none;
	background: #ffffff;
	outline: none;
	margin-bottom: 20px;
	font-size: 14px;
	color: #3e454c;
	padding: 0 15px;
}
.form textarea{
	height: 80px;
	padding: 10px 15px;
	resize: none;
}
.form input[type="submit"]{
	display: inline-block;
	width: 50%;
	background: #127912;
	padding: 10px 30px;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	border: none;
	outline: none;
	-webkit-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}
.form input[type="submit"]:hover{background: #42c342;}
.form label.error{
	display: block;
	font-size: 12px;
	line-height: 1.4;
	color: #42c342;
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 10;
}

.intro{
	background: #f5f5f5;
	padding: 20px 0 50px;
}
.intro .title{
	font-size: 24px;
	line-height: 1.2;
	color: #3e454c;
	text-transform: uppercase;
	background: url(../images/icon.png) left center no-repeat;
	background-size: 50px 50px;
	padding: 20px 0 20px 70px;
}
.intro .title-2{
	font-family: "RobotoLight", sans-serif;
	font-size: 20px;
	line-height: 1.2;
	color: #42c342;
	text-transform: uppercase;
	padding: 10px 0;
}
.intro .text{
	font-size: 14px;
	line-height: 1.4;
	color: #b5b5b5;
	padding-bottom: 20px;
}
.intro .item{margin-bottom: 30px;}
.intro .item .more{
	display: block;
	background: #3e454c;
	padding: 17px 30px 17px 80px;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
}
.intro .item .more:before{
	background: #42c342;
	color: #ffffff;
	content: "\f072";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}
.intro .item-2 .more:before{content: "\f0ce";}
.intro .item-3 .more:before{content: "\f07a";}
.intro .item .more:hover{
	background: #127912;
}

#top {
	display: none;
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: fixed;
	right: 15px;
	bottom: 75px;
	z-index: 100;
	background: #42c342;
	font-size: 16px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	border-radius: 50%;
	opacity: .5;
	-webkit-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}
#top:hover{opacity: 1;}
#top:before{
	border-radius: 50%;
	border-color: #42c342;
}

.mobile-menu-btn{display: none;}

.main{margin-top: 80px;}

.pagetitle{
	font-size: 36px;
	line-height: 1.2;
	color: #3e454c;
	text-transform: uppercase;
	padding: 10px 0;
}

.breadcrumbs{
	padding: 20px 0 10px;
}
.breadcrumbs li{
	display: inline-block;
	font-size: 12px;
	color: #b5b5b5;
}
.breadcrumbs li a{
	color: #42c342;
}
.breadcrumbs li a:hover{
	color: #009400;
}

.airplane{padding-bottom: 30px;}
.airplane .item{padding-bottom: 30px;}
.airplane .item > img{width: 100%; border-radius: 15px;}
.airplane .item .title{
	font-family: "RobotoBold", sans-serif;
	font-size: 20px;
	text-align: center;
	color: #3e454c;
	padding: 10px 0 15px;
}
.airplane .item table{width: 100%;}
.airplane .item table tr td{
	font-size: 14px;
	line-height: 1.2;
	padding: 5px;
	color: #3e454c;
}
.airplane .item table tr:nth-child(odd) td{background: #ececec;}

.contacts .wrapper{
	background: #f1f1f1;
	padding: 20px;
	margin: 10px 0 30px;
}
.contacts table{width: 100%;}
.contacts table tr td, .contacts table tr th{
	font-size: 16px;
	line-height: 1.4;
	color: #3e454c;
	padding: 5px;
	vertical-align: top;
}
.contacts table tr th{
	font-family: "RobotoBold", sans-serif;
	font-size: 18px;
	padding: 10px 5px;
}
.contacts table a{
	color: #009400;
	border-bottom: 1px solid #9dc59d;
}
.contacts table a:hover{border-bottom-color: transparent;}
.contacts table .bold{font-family: "RobotoMedium", sans-serif;}
.contacts .map{
	height: 420px;
	border: 1px solid #f1f1f1;
	margin: 10px 0 30px;
	padding: 10px;
}
